@using System
@using System.Linq
@using System.Security.Claims
<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        var claimsIdentity = User.Identity as ClaimsIdentity;
        var userName = claimsIdentity?.Claims.FirstOrDefault(c => c.Type == "name")?.Value ?? User.Identity.Name;
        <li class="nav-item">
            <span class="nav-text text-dark">Hello @userName!</span>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="AzureAD" asp-controller="Account" asp-action="SignOut">Sign out</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="AzureAD" asp-controller="Account" asp-action="SignIn">Sign in</a>
        </li>
    }
</ul>